---
import Card from "../components/Card.astro";
import Intro from "../components/Intro.astro";
import Layout from "../layouts/Layout.astro";

import engagements from "../data/engagements.json";
import presentations from "../data/presentations.json";

function formatEngagements(items: any[]) {
  function formatClients(clients: string[]) {
    return clients.join(", ");
  }

  function formatLocation({
    company,
    role,
    startDate,
    endDate,
  }: {
    company: string;
    role: string;
    startDate: string;
    endDate: string;
  }) {
    return `${company ? company + ", " : ""}${
      role ? role + ", " : ""
    } ${startDate} - ${endDate}`;
  }

  function sortEngagements(a: any, b: any) {
    const aDate = new Date(a.startDate);
    const bDate = new Date(b.startDate);

    if (aDate < bDate) {
      return -1;
    }

    if (aDate > bDate) {
      return 1;
    }

    return 0;
  }

  return items
    .sort(sortEngagements)
    .reverse()
    .map((item) => ({
      title: item.title,
      description: formatClients(item.clients),
      location: formatLocation(item),
    }));
}
---

<Layout title="Milan Matull, Design Engineering Consultant">
  <div>
    <div>
      <main class="Text">
        <div>
          <Intro>I help organizations build better digital products.</Intro>
        </div>

        <div id="engagements">
          <p>
            As a designer, developer and founder with a strategic mindset and
            in-depth expertise in digital product development, I have led
            cross-functional teams, built sustainable organisational structures
            and driven high-quality outcomes for complex client projects.
          </p>
          {
            formatEngagements(engagements).map((item) => (
              <Card
                title={item.title}
                description={item.description}
                location={item.location}
              />
            ))
          }
        </div>

        <div id="speaking">
          <p>
            I occasionally give talks at conferences and company events, and I
            am a guest on podcasts.
          </p>
          {
            presentations.map((item) => (
              <Card
                title={item.title}
                description={item.description}
                location={item.location}
                url={item.url}
              />
            ))
          }
        </div>

        <div>
          <h2 id="contact">Contact</h2>

          <address>
            <small>
              <a href="https://twitter.com/mlnmln">twitter.com/mlnmln</a>
              <br />
              <a href="https://github.com/mlnmln">github.com/mlnmln</a>
              <br />
              <a href="mailto:inbox.milan@mailbox.org"
                >inbox.milan@mailbox.org</a
              >
            </small>
          </address>
        </div>

        <div>
          <h2>Imprint</h2>

          <address>
            <small>
              Milan Matull<br />
              c/o Factorial GmbH<br />
              Langenfelder Straße 93<br />
              22769 Hamburg<br />
            </small>
          </address>
        </div>
      </main>
    </div>
  </div>
</Layout>
<style>
  .Text {
    max-width: 48ch;
    margin: calc(64px + 1.7rem) auto;
    padding: 0 calc(18px + (27 - 18) * ((100vw - 320px) / (1440 - 320)));
  }

  .Text p {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.8);
  }

  @media (prefers-color-scheme: dark) {
    .Text p {
      color: rgba(240, 240, 240, 0.8);
    }
  }
</style>
